@model IEnumerable<Web_vjp_pr0.Models.Size>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Size</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã Size
        </th>
        <th>Thao Tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSize)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaSize }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaSize }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaSize })
        </td>
    </tr>
}

</table>
