@model PagedList.IPagedList<Web_vjp_pr0.Models.CTHDThanhToan>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Mã CTHD Thanh Toán", "Index", new { sortOrder = ViewBag.codeSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Mã Hóa Đơn", "Index", new { sortOrder = ViewBag.nameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Mã Hàng
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Thành Tiền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCTHDThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaCTHDThanhToan }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaCTHDThanhToan }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaCTHDThanhToan })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
